<div class="gallery">
  <mat-card class="example-card" *ngFor="let photo of photoFacade.photos$ | async">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ photo.title }}</mat-card-title>
      <mat-card-subtitle>Gallery: ???</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="photo.url" [alt]="photo.title" />
    <mat-card-content>
      <p>
        Uploaded by: ????
      </p>
    </mat-card-content>
  </mat-card>
</div>

<mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" (page)="setPage($event)">
</mat-paginator>
